
.users-stat, .graph-card {
  min-height: 366px;
  border-radius: 15px;
}

.number-card {
  min-height: 146px;
  border-radius: 15px;
}



.users-icons {
  color: #F05366;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 34px/46px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  margin-top: -15px !important;
  font: normal normal normal 34px/46px Manrope;
  letter-spacing: 0px;
  opacity: 1;
}

.transaction-video-list {
  border-radius: 15px;
}

.transaction-table-title {
  height: 36px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 26px/36px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 26px/36px Manrope;
  letter-spacing: 0px;
  color: #040404;
  opacity: 1;
}

.transaction-day-time {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/27px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 20px/27px Manrope;
  letter-spacing: 0px;
  color: #F05366;
  opacity: 1;
}

#search-input {
  height: 55px;
  background: #E6E6E63D 0% 0% no-repeat padding-box !important;
  border-radius: 15px !important;
  border: none !important;
  padding-left: 28px;
  opacity: 1;
}

#search-icon {
  color: #F05366;
}

.fainted-text {
  font: var(--unnamed-font-style-normal) normal 600 16px/20px Gilroy ☞;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 16px/20px Gilroy ☞;
  letter-spacing: 0px;
  color: #00000059;
  opacity: 1;
}

.body-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.transaction-status {
  color: #08C52E;
}

.export-data {
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  min-height: 146px;
}

.download-icon {
  color: #FFFFFFFF;
}

.download-icon-icon {
  font-size: 50px;
}